.form-container {
    margin: 100px auto;
    width: 40%;
    position: relative;
    display: flex;
    border: solid gray 1px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
};

.form-container h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form-label {
    display: flex;
    width: 40%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

button.btn {
    background-color: gray;
    border: gray solid 1px;
}

button.btn:hover {
    color: white;
}

.form-input {
    display: flex;
    justify-content: space-evenly;
    margin: 10% 10% auto;
}

.form-role {
    display: flex;
    justify-content: space-evenly;
    margin: 10%;
    padding-right: 20%;
}